.room-three {
  margin: 0 auto;
  padding-bottom: 32px;
  background-color: var(--fon-dark-lemon);
}

.room-three-secondtxt {
  font-family: 'Times New Roman', serif;
  text-align: right;
  padding-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-secondtxt);
}

.room-three-logo {
  font-family: 'Film P3', sans-serif;
  width: 127px;
  margin-left: auto;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--color-logo);
  text-transform: uppercase;
}

.room-three-title {
  font-family: 'Times New Roman', serif;
  margin-bottom: 12px;
  text-align: right;
  font-size: 23px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-title);
}

.room-three-primtext {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: 48px;
  max-width: 242px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primtxt);
}

.room-three-photo {
  width: 244px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}

.about-room-three {
  margin-top: 28px;
  text-align: center;
}
.room-three-details,
.room-three-price {
  display: inline-block;
  padding: 14px 64px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background-color: var(--color-title);

  border: 2px solid var(--fon-lemon);
  border-radius: 25px;
  color: var(--accent-yellow);

  transition-property: background-color, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}
.room-three-price {
  font-family: inherit;
  min-width: 236px;
  margin-top: 16px;
  padding: 14px 37px;
}

.room-three-details:hover,
.room-three-price:hover,
.room-three-details:focus,
.room-three-price:focus {
  background-color: #ffffff;
  border: 2px solid var(--accent-yellow);
}

@media screen and (min-width: 1024px) {
  .container-room {
    position: relative;
  }

  .room-three {
    padding-bottom: 145px;
  }

  .room-three-secondtxt {
    padding-top: 62px;
    margin-bottom: 4px;
    margin-right: 17px;
    font-size: 32px;
  }
  .room-three-logo {
    width: 202px;
    font-size: 64px;
    margin-bottom: 62px;
    margin-right: 17px;
  }
  .room-three-title {
    font-size: 30px;
    margin-bottom: 16px;
    margin-right: 43px;
  }

  .room-three-primtext {
    font-size: 16px;
    max-width: 400px;
    margin-right: 20px;
  }
  .room-three-photo {
    position: absolute;
    top: -32px;
    left: 112px;
    width: 400px;
  }

  .about-room-three {
    width: 241px;
    margin-top: 209px;
  }
}

@media screen and (min-width: 1280px) {
  .room-three {
    padding-bottom: 182px;
  }

  .room-three-secondtxt {
    padding-top: 72px;
    margin-right: 57px;
  }

  .room-three-title {
    font-size: 36px;
    margin-bottom: 24px;
    margin-right: 57px;
  }

  .room-three-logo {
    margin-bottom: 72px;
    margin-right: 57px;
  }

  .room-three-primtext {
    max-width: 400px;
    font-weight: 700;
    margin-right: 110px;
  }

  .room-three-photo {
    width: 460px;
    left: 180px;
  }

  .about-room-three {
    margin-top: 255px;
  }
}
