.swiper {
  width: 100%;
  height: 100%;
}

.ser-swiper {
  position: relative;
  width: 300px;
  margin-right: -15px;
  padding-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-box {
  width: 194px;
  height: 194px;
}

.swiper-button-prev:after {
  content: url('./img/cil_arrow-left.svg');
}
.swiper-button-next:after {
  content: url('./img/cil_arrow-right.svg');
}

.mybox-slider {
  position: absolute;
  bottom: 6%;
  right: 22%;
}

.swiper-button-next {
  right: -45px;
}

.swiper-button-prev {
  left: -45px;
}

@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .ser-swiper {
    width: 428px;
  }
  .mybox-slider {
    position: absolute;
    bottom: 6%;
    right: 11%;
  }
}
