.room-luxe {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #fffdee;
}

.room-luxe-secondtxt {
  font-family: 'Times New Roman', serif;
  padding-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
}

.room-luxe-logo {
  font-family: 'Film P3';
  display: block;
  margin-bottom: 32px;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #494848;
  text-transform: uppercase;
}

.room-luxe-title {
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-size: 5.8vw;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.luxe-word {
  text-transform: lowercase;
}

.room-luxe-primtxt {
  margin-bottom: 32px;
  max-width: 258px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

.about-room-luxe {
  text-align: center;
}

.room-luxe-details,
.room-luxe-price {
  display: inline-block;
  padding: 14px 64px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  background-color: #000000;

  border: 2px solid #fffdee;
  border-radius: 25px;
  color: #f3c653;
}

.room-luxe-price {
  width: 236px;
  margin-top: 16px;
  padding: 14px 37px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
}

@media screen and (min-width: 414px) {
  .room-luxe-title {
    font-size: 24px;
  }
}
