<section class="section-restuarant">
    <h2 class="visually-hiden-kitchen">About our kitchen</h2>
    <p class="p-kitchen-one">Amet minim mollit non</p>
    <a href="" class="logo-kitchen">MIMIHO</a>
    <p class="p-kitchen-second">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="image-kitchen-first">
            <img src="../../img/restaurant/about-1.jpg" alt="about-1" width="293px" height="322px" >
        </div>
        <div class="thumb-kitchen-one">
            <div class="image-kitchen-second">
                <img src="../../img/restaurant/about-2.jpg" alt="about-2" width=" 200px" height="278px" >
            </div>
                <p class="p-kitchen-three">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    <ul class="slider-kitchen">
        <li class="image-kithcen-3"><img src="../../img/restaurant/about-3.jpg" alt="about-3"></li>

        <div class="image-kitchen-box-4">
            <li class="image-kitchen-4"><img src="../../img/restaurant/about-4.jpg" alt="about-4"></li>
        </div>
    </ul>
       <div class="svg-arrows-kitchen">
        <svg width="29px" height="16px">
            <use href="./public/favicon.svg#icon-arrow-left" ></use>
        </svg>
        <svg width="29px" height="16px">  
            <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
       </div>
 
</section>