<section>
    <p>Amet minim mollit non</p>
    <h2>About our kitchen</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul>
        <li><img src="../../img/restaurant/about-1.jpg" alt="about-1" width="293px" height="322px"></li>
        <li><img src="../../img/restaurant/about-2.jpg" alt="about-2" width=" 200px" height="278px"></li>
    </ul>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul><li><img src="../../img/restaurant/about-3.jpg" alt="about-3" width="245px" height="245px"></li>
        <li><img src="../../img/restaurant/about-4.jpg" alt="about-4" width="24px" height="245px"></li>
    </ul>
    <svg width="150px" hegiht="150px">
        <symbol id="icon-arrow-left" viewBox="0 0 32 32" >
            <path d="M31.084 15H5.006l6-6-1.414-1.414L1.178 16l8.414 8.414L11.006 23l-6-6h26.078v-2z"/>
        </symbol>
          <use href="#icon-arrow-left" ></use>
          
    </svg>
    
    <svg width="150px" hegiht="150px">
        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
            <path d="M22.492 7.586 21.078 9l6 6H1v2h26.078l-6 6 1.414 1.414L30.906 16l-8.414-8.414z"/>
          </symbol>
          <use href="#icon-arrow-right"></use>
    </svg>

</section>