<section class="section-restuarant">
    <h2 class="visually-hiden">About our kitchen</h2>
    <p class="p-kitchen-one">Amet minim mollit non</p>
    <a href="" class="logo-kitchen">MIMIHO</a>
    <p class="p-kitchen-second">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <div class="image-kitchen-first">
            <img srcset="../../img/restaurant/about-1-mob.jpg, ../../img/restaurant/about-1-mob-2x.jpg" alt="about-1" class="image-item-first">
        </div>
        <div class="thumb-kitchen-one">
            <div>
                <img srcset="../../img/restaurant/about-2-mob.jpg, ../../img/restaurant/about-2-mob-2x.jpg" alt="about-2" class="image-kitchen-second">
            </div>
                <p class="p-kitchen-three">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    <ul class="slider-kitchen">
        <li class="image-kithcen-3"><img srcset="../../img/restaurant/about-3-mob.jpg, ../../img/restaurant/about-3-mob-2x.jpg" alt="about-3"></li>

        <div class="image-kitchen-box-4">
            <li class="image-kitchen-4"><img srcset="../../img/restaurant/about-4.jpg, ../../img/restaurant/about-4-tab-2x.jpg" alt="about-4"></li>
        </div>
    </ul>
       <div class="svg-arrows-kitchen">
        <svg width="29px" height="16px">
            <use href="./public/favicon.svg#icon-arrow-left" ></use>
        </svg>
        <svg width="29px" height="16px">  
            <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
       </div>
 
</section>

