<section class="restaurant-hero" id="restaurant-page">
  <div class="restaurant-container">
    <h1 class="restaurant-hero-title wow animate__animated animate__backInDown">
      MIMIHO
    </h1>
    <h2 class="restaurant-hero-subheading">Ресторан</h2>
    <p class="restaurant-hero-motto">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero-btn-list">
      <li>
        <button type="button" class="hero-btn js-open-modal" data-modal="1">
          Забронювати столик
        </button>
      </li>
      <li>
        <button type="button" class="hero-btn">
          <a href="#menu-restaurant">Переглянути меню</a>
        </button>
      </li>
    </ul>
    <a class="hero-location"
      href="https://www.google.com.ua/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5991975,34.5243576,17z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t?hl=ru"
      target="_blank"
      rel="noopener noreferrer">
      <svg width="20" height="20" class="hero-loc-icon">
        <use href="./public/favicon.svg#icon-location"></use>
      </svg>
      <p class="hero-address">
        Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15
      <p>
    </a>
    <ul class="hero-soc-list">
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
