.about-hotel {
  padding-top: 18px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .about-hotel {
    padding-top: 120px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .about-hotel {
    padding-bottom: 50px;
  }
}

.about-hotel > .container {
  position: relative;
}

.about-hotel-title-wrap {
  text-align: right;
  margin-bottom: 16px;
}



.about-hotel-pre-title {
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 6px;
}

.about-hotel-logo {
  font-family: 'Film P3', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #494848;
}

.about-hotel-top-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  max-width: 242px;
  height: 76px;
  margin-left: auto;
  margin-bottom: 28px;
}

.about-hotel-top-photo {
  position: relative;
  min-width: 244px;
  width: fit-content;
  height: auto;
  margin-bottom: 32px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-bottom-wrap {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 32px;
  margin-left: auto;
}

.about-hotel-bottom-text {
  max-width: 163px;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--brown);
  max-width: 163px;
  height: auto;
}

.about-hotel-bottom-photo {
  position: relative;
  margin-left: auto;
  min-width: 200px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-slider-list {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  margin-right: 84px;
}

.about-hotel-slider-photo {
  max-width: 245px;
  height: 245px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel-button-list {
  display: flex;
  margin-top: 20px;
}

.about-hotel-button-item {
  width: 32px;
  height: 32px;
  margin-right: 33px;
}

.about-hotel-button-left,
.about-hotel-button-right {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.about-hotel-button-left,
.about-hotel-button-right {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-hotel-button-left:hover,
.about-hotel-button-left:focus,
.about-hotel-button-right:hover,
.about-hotel-button-right:focus {
  fill: var(--accent-yellow);
}

/*-------- Tablet --------- */

@media screen and (min-width: 1024px) {
  .about-hotel-main-container {
    min-width: 1024px;
    padding-right: 46px;
    padding-left: 47px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .about-hotel-title-wrap {
    margin-bottom: 24px;
  }

  .about-hotel-pre-title {
    font-size: 32px;
    line-height: 1.15;

    margin-bottom: 4px;
  }

  .about-hotel-logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    letter-spacing: 0.3em;
  }

  .about-hotel-top-text {
    font-size: 16px;
    line-height: 0.9;
    min-width: 419px;
    height: 80px;
    margin-bottom: 142px;
  }

  .about-hotel-top-photo {
    position: absolute;
    width: fit-content;
    height: auto;
    top: -150px;
    left: 112px;
    margin-bottom: 0;
  }

  .about-hotel-bottom-wrap {
    justify-content: flex-end;
    margin-bottom: 0;
    gap: 48px;
  
  }

  .about-hotel-bottom-text {
    font-size: 16px;
    line-height: 1.25;

    min-width: 312px;
    height: 122px;
    margin-bottom: 0;
  }

  .about-hotel-slider {
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    top: -104px;
    right: 102px;
  }

  .about-hotel-slider-photo {
    max-width: 194px;
    height: 194px;
  }

  .about-hotel-slider-list {
    gap: 40px;
    justify-content: start;
    margin-right: 0;
    margin-top: 154px;
  }
}

/* ---------DESCKTOP--------- */

@media screen and (min-width: 1280px) {
  .about-hotel-main-container {
    min-width: 1140px;
    padding-right: 85px;
    padding-left: 85px;
    padding-bottom: 0;
    margin: 0 auto;
    overflow: visible;
  }

  .about-hotel-title-wrap {
    margin-bottom: 24px;
  }

  .about-hotel-top-text {
    line-height: 1.25;
    min-width: 488px;
    height: 88px;
    margin-bottom: 162px;
  }

  .about-hotel-top-photo {
    max-width: 100%;
    left: 180px;
    top: -150px;
  }

  .about-hotel-bottom-wrap {
    gap: 45px;
  }

  .about-hotel-bottom-text {
    width: 311px;
    height: 122px;
  }

  .about-hotel-slider-photo {
    max-width: 254px;
    height: 254px;
  }

  .about-hotel-slider-list {
    gap: 26px;
    margin-top: 101px;
  }

  .about-hotel-button-list {
    margin-top: 40px;
  }
}
