.relative-details
{
    position: relative;
}
.background-hotel-details
{
    max-width: 100%;
    height: 620px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0 auto;
}


/* mobilki pomenshe */
@media  screen and (max-width:413px) {
    .section-hotel-details
{
    padding-bottom: 40px;
    padding-top: 24px;
    position: relative;
}

.hotel-details-text
{
    padding-left: 17px;
    padding-right: 25px;
    text-align: end;
    margin-bottom: 48px;
}
.hotel-details-logo
{
    width: 127px;
    /* margin-right: 2px; */
    margin-left: auto;
    text-align: end;
    font-family: 'Film P3';

    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;

    letter-spacing: 0.3em;

    color: #FFFFFF;


    margin-bottom: 12px;
}
.hotel-deteils-name
{
    /* position: absolute;
    top: 10%;
    left: 45%; */
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-right: 40px;
}
.hotel-details-p
{
    margin-top: 20px;
    text-align: start;
    /* width: 243px; */
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #BABABA;
    /* margin-bottom: 48px; */

}
.details-image-box
{
    display: flex;
    margin-bottom: 80px;
}
.hotel-details-image-first
{
    display:none;
}
.hotel-details-image-second
{
    position: absolute;
    right: 85%;
}
.hotel-details-image-third
{
    margin-left: 35px;
}
.hotel-details-svg
{
    fill: #FFFFFF;
    position: absolute;
    left: 65%;
    top: 72%;
}
.details-svg-arrows-first
{
    margin-right: 33px;
}
.hotel-details-button-first
{
    color: var(--accent-yellow);
    background: rgba(0, 0, 0, 0.4);
    /* White */
    width: 236px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    margin-bottom: 16px;

    font-family: 'Montserrat';

    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;
}
.hotel-details-button-first:hover
{
    background: #FFFFFF;
    border: 2px solid #F3C653;
    color: #F3C653;
}
.hotel-details-button-second
{
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    color: var(--accent-yellow);
    background: rgba(0, 0, 0, 0.4);
    /* White */
    width: 236px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;


    font-family: 'Montserrat';

    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;
}
.hotel-details-button-second:hover
{

    background: #FFFFFF;
    border: 2px solid #F3C653;
    color: #F3C653;
}

.background-hotel-details
{
    height: 735px;
    max-width: 413px;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../img/homepage/hotel-details-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-hotel-details {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../../img/homepage/hotel-details-bg.jpg);
  }
  }





.hotel-details-btn-box
{
    display: flex;
    flex-direction: column;
    align-items: center;

  
}

}
/* mobilki */
@media screen and (min-width: 414px) and (max-width: 1023px) {
    /* .container {
        max-width: 414px;
      } */
    .section-hotel-details
    {
        padding-bottom: 40px;
        padding-top: 24px;
        position: relative;
    }
   
    .hotel-details-image-first
    {
        display:none;
    }
    .hotel-details-text
    {
        padding-left: 17px;
        padding-right: 25px;
        text-align: end;
        margin-bottom: 48px;
    }
    .hotel-details-logo
    {
        width: 127px;
        margin-left: auto;
        margin-right: 40px;
        font-family: 'Film P3';

        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;

        letter-spacing: 0.3em;

        color: #FFFFFF;

        margin-bottom: 12px;
    }
    .hotel-deteils-name
    {
        /* position: absolute;
        top: 10%;
        left: 45%; */
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        color: #FFFFFF;
        margin-right: 40px;
    }
    .hotel-details-p
    {
        /* width: 243px;
        height: 62px; */
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: #BABABA;
        text-align: start;
        margin-top: 20px;
    }
    .details-image-box
    {
        display: flex;
        margin-bottom: 80px;
    }
    .hotel-details-image-first
    {
        display:none;
    }
    .hotel-details-image-second
    {
        position: absolute;
        right: 85%;

    }
    .hotel-details-image-third
    {
        margin-left: 100px;
    }
    .hotel-details-svg
    {
        fill: #FFFFFF;
        position: absolute;
        left: 69%;
        top: 71%;
    }
    .details-svg-arrows-first
    {
        margin-right: 33px;
    }
    .hotel-details-button-first
    {
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        margin-bottom: 16px;



        font-family: 'Montserrat';

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-first:hover
    {
        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }
    .hotel-details-button-second
    {
        padding-top:14px ;
        padding-bottom: 14px;
        cursor: pointer;
        text-align: center;
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;


        font-family: 'Montserrat';

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-second:hover
    {

        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }

    .background-hotel-details
    {
        height: 735px;
        max-width: 1023px;

        background: rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg-mob.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hotel-details{
       
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg-mob-2x.jpg);
    }
    }





    .hotel-details-btn-box
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }

/* tablet */
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
  
    /* .container {
        max-width: 1024px;
        padding-left: 47px;
        padding-right: 47px;
      } */
    .section-hotel-details
    {
        padding-top: 48px;
        padding-bottom: 47px;
    }
    .hotel-details-text
    {
        text-align: right;
        margin-bottom: 40px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .hotel-details-logo
    {
        width: 202px;
        font-family: 'Film P3';
    
        font-weight: 700;
        font-size: 64px;
        line-height: 1.075;
    
        letter-spacing: 0.3em;
    
        color: #FFFFFF;
    
    
        margin-right: 121px;
        margin-bottom: 16px;
        margin-left: auto;
    }
    .hotel-deteils-name
    {
        /* position: absolute;
        top: 18%;
        left: 68%; */
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
        margin-bottom: 8px;
        margin-right: 121px;
    }
    .hotel-details-p
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
       
        color: #BABABA;
        width: 549px;
        /* margin-bottom: 48px; */
        /* margin-left: 197px; */
        margin-left: 197px;
        text-align: right;
    }
    .details-image-box
    {
        display: flex;
        gap: 34px;
    }

    .hotel-details-btn-box
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 61%;
        left: 75%;
    }
    .hotel-details-button-first
    {
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        margin-bottom: 16px;



        
        font-family: 'Montserrat';

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-first:hover
    {
        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }
    .hotel-details-button-second
    {
        padding-top: 14px;
        padding-bottom: 14px;
        cursor: pointer;
        text-align: center;
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;


        font-family: 'Montserrat';

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-second:hover
    {

        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }
        .hotel-details-svg
    {
        fill: #FFFFFF;
        position: absolute;
        left: 60%;
        top: 101%;
    }
    .details-svg-arrows-first
    {
        margin-right: 33px;
    }
    .background-hotel-details
    {
        /* height: 620px; */
        max-width: 1280px;
        background-repeat: no-repeat;
        background: rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hotel-details {
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg-tab-2x.jpg);
    }
    }
  }




  /* desktop */
  @media screen and (min-width: 1280px) {
    /* .container {
        max-width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
      } */
    .section-hotel-details
    {
        padding-top:48px ;
        padding-bottom: 48px;
    }
    .hotel-details-text
    {
        padding-left: 62px;
        padding-right: 53px;
        text-align: right;
        margin-bottom: 40px;
    }
    .hotel-details-logo
    {
        text-align: right;
        font-family: 'Film P3';
    
        font-weight: 700;
        font-size: 64px;
        line-height: 1.075;
    
        letter-spacing: 0.3em;
    
        color: #FFFFFF;
    
        margin-left: auto;
        margin-bottom: 16px;
        margin-right: 185px;
    }
    .hotel-deteils-name
    {
        /* position: absolute;
        top: 19%;
        left: 61%; */
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: right;
        color: #FFFFFF;


        margin-right: 205px;
        margin-bottom: 8px;
    }
    .hotel-details-p
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-align:start ;
        color: #BABABA;
        width: 595px;
        margin-left: 197px;
    }
    .details-image-box
    {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        gap: 86px;
        /* padding-bottom:96px ; */
    }

    .hotel-details-btn-box
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 65%;
        left: 77%;
    }
    .hotel-details-button-first
    {
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;
        margin-bottom: 16px;



        font-family: 'Montserrat';
        font-style: normal;

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-first:hover
    {
        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }
    .hotel-details-button-second
    {
        padding-top: 14px;
        padding-bottom: 14px;
        cursor: pointer;
        text-align: center;
        color: var(--accent-yellow);
        background: rgba(0, 0, 0, 0.4);
        /* White */
        width: 236px;
        height: 48px;
        border: 2px solid #FFFFFF;
        border-radius: 25px;


        font-family: 'Montserrat';

        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.02em;
    }
    .hotel-details-button-second:hover
    {

        background: #FFFFFF;
        border: 2px solid #F3C653;
        color: #F3C653;
    }

    .hotel-details-svg
    {
        fill: #FFFFFF;
        position: absolute;
        left: 67%;
        top: 105%;
    }
    .details-svg-arrows-first
    {
        margin-right: 33px;
    }
    .background-hotel-details
    {
        max-width: 1280px;
        /* height: 620px; */
        background: rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hotel-details {
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/homepage/hotel-details-bg-2x.jpg);
    }
    }

















    
  }