
.relative-resturant-about
{
    position: relative;
}




.visually-hiden
{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


@media  screen and (max-width: 413px) {
    .section-restuarant-about
    {
        overflow: hidden;
        padding-top: 16px;
        padding-bottom: 28px;
    }
    .about-kitchen-p-first
    {
        width: 190px;
        height: 23px;
     

        font-family: 'Times New Roman';
        font-size: 20px;
        line-height: 1.15;
        /* identical to box height */


        color: var( --color-secondtxt);


        margin-bottom: 12px;
    }
    .about-kitchen-name
    {
        font-family: 'Film P3';
      
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
        /* identical to box height */

        letter-spacing: 0.3em;

        color: #494848;
    }
    .about-kitchen-p-second
    {
        width: 258px;
        height: 76px;
      
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: var(--color-primtxt);


        margin-top: 12px;
    }
    .about-kitchen-p-thumb
    {
        margin-bottom: 28px;
    }   

    .kitchen-img-thumb-one
    {
        display: flex;
        justify-content: end;
        margin-bottom:32px ;
    }
    .kitchen-img-item-one
    {
        width: 293px;
        height: 322px;
    }
    .kitchen-img-thumb-two
    {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    .kitchen-img-item-two
    {
        margin-right: 20px;
        width: 200px;
        height: 278px;
    }
    .about-kitchen-p-third
    {
        width: 163px;
        height: 120px;
       

        /* м_текст1 */

        font-family: 'Montserrat';

        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        /* Brown */

        color: var(--brown);
    }

    .kitchen-img-thumb-third
    {
        display: flex;
        gap: 24px;
    }
   

    .kitchen-img-item-third{
        margin-left:50px ;
        height: 245px;
    }

    .kitchen-img-item-four
    {
        position: absolute;
        height: 245px;
    }
    .kitchen-about-svg
    {
        position: absolute;
        left: 60%;
        top: 100%;
    }
    .svg-about-one
    {
        margin-right: 33px;
    }
}
@media screen and (min-width: 414px) and (max-width: 1023px) {

    .section-restuarant-about
    {
        overflow: hidden;
        padding-top: 16px;
        padding-bottom: 28px;
        position: relative;
    }
    
    .about-kitchen-p-first
    {
        width: 190px;
        height: 23px;
     

        font-family: 'Times New Roman';
        font-size: 20px;
        line-height: 1.15;
        /* identical to box height */


        color: var( --color-secondtxt);


        margin-bottom: 12px;
    }
    .about-kitchen-name
    {
        font-family: 'Film P3';
      
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
        /* identical to box height */

        letter-spacing: 0.3em;

        color: #494848;
    }
    .about-kitchen-p-second
    {
        width: 258px;
        height: 76px;
      
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: var(--color-primtxt);


        margin-top: 12px;
    }
    .about-kitchen-p-thumb
    {
        margin-bottom: 28px;
    }   

    .kitchen-img-thumb-one
    {
        display: flex;
        justify-content: end;
        margin-bottom:32px ;
    }
    .kitchen-img-item-one
    {
        width: 293px;
        height: 322px;
    }
    .kitchen-img-thumb-two
    {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    .kitchen-img-item-two
    {
        margin-right: 20px;
        width: 200px;
        height: 278px;
    }
    .about-kitchen-p-third
    {
        width: 163px;
        height: 120px;
       

        /* м_текст1 */

        font-family: 'Montserrat';

        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        /* Brown */

        color: var(--brown);
    }

    .kitchen-img-thumb-third
    {
        display: flex;
    }

    .kitchen-img-thumb-third
    {
        display: flex;
        gap: 24px;
    }
    .kitchen-img-thumb-four
    {
        overflow: hidden;
    }

    .kitchen-img-item-third{
        margin-left:80px ;
        height: 245px;
        width: 245px;
    }

    .kitchen-img-item-four
    {
        position: absolute;
       
        height: 245px;
    }
    .kitchen-about-svg
    {
        position: absolute;
        left: 75%;
        top: 100%;
      
    }
    .svg-about-one
    {
        margin-right: 33px;
    }


}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
 
    .section-restuarant-about
    {
        padding-top:120px;
        padding-bottom: 39px;
    }
    
    .about-kitchen-p-thumb
    {
        width:439px;
        margin-bottom: 142px;
    }

    .about-kitchen-p-first
    {
        font-family: 'Times New Roman';
        font-size: 32px;
        line-height: 1.15;
        
        margin-bottom: 12px;
        color: #B4B4B4;

    }
    
    .about-kitchen-name
    {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 1.075;
      
        letter-spacing: 0.3em;
    
        color: #494848;

    }
    
    .about-kitchen-p-second
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height:1.25;
        letter-spacing: 0.02em;
    
        color: #7A7A7A;
    
    
        width: 439px;
        height: 80px;
    
       
     
        margin-top: 12px;
    }
    
    .about-kitchen-p-third
    {
 
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    
        color: var(--brown);

        width: 312px;
        height: 122px;
        margin-left: 48px;
    }
  
        
    .kitchen-img-item-one
    {
        position: absolute;
        top: -15%;
        left: 50%;

        width: 400px;
        height: 524px;
    }
    
    .kitchen-img-thumb-two
    {
        display: flex;
        align-items: center;
    }
    .kitchen-img-item-two
    {
        width: 350px;
        height: 500px;
    }
    
    .kitchen-img-thumb-third
    {
        display: flex;
        justify-content: end;
        gap: 40px;
        margin-bottom: 40px;
    }
    .kitchen-img-item-third
    {
        height: 194px;
        width: 194px;
    }
    .kitchen-img-item-four
    {
        height: 194px;
        width: 194px;
    }
    .kitchen-about-svg
    {
        position: absolute;
        left: 85%;
    }
    .svg-about-one
    {
        margin-right: 33px;
    }
}

@media screen and (min-width: 1280px) {
    .section-restuarant-about
    {
        padding-top:120px;
        padding-bottom: 39px;
    }
    
    .about-kitchen-p-first
    {
        font-family: 'Times New Roman';
        font-size: 32px;
        line-height: 1.15;
        /* identical to box height */


        color: var(--color-secondtxt);
        margin-bottom: 4px;
    }

    .about-kitchen-name
    {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 1.078;
        /* identical to box height */

        letter-spacing: 0.3em;

        color: var(--color-logo);
    }

    .about-kitchen-p-second
    {
        width: 400px;
        height: 83px;

        font-family: 'Montserrat';

        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: var( --color-primtxt);
        margin-top: 24px;
    }
    .about-kitchen-p-thumb
    {
        margin-bottom: 162px;
    }

    /* .kitchen-img-thumb-one
    {

    } */


    .kitchen-img-item-one
    {
        width: 522px;
        height: 574px;
        position: absolute;
        left: 50%;
        top: -14%;
    }


    .kitchen-img-thumb-two
    {
        display: flex;
        align-items: center;
    }




    .kitchen-img-item-two
    {
        width: 460px;
        height: 574px;
    }

    .about-kitchen-p-third
    {
        width: 312px;
        height: 122px;
        

        /* текст1 */

        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        /* Brown */

        color: var(--brown);

        margin-left: 32px;
    }

    .kitchen-img-thumb-third
    {
        display: flex;
        justify-content: end;
        gap: 40px;
        margin-bottom: 104px;
    }

    .kitchen-about-svg
    {
        position: absolute;
        top: 105%;
        left: 85%;
    }
    .svg-about-one
    {
        margin-right: 33px;
    }
  }