
.p-kitchen-one
{
font-family: 'Times New Roman';
font-size: 20px;
line-height: 23px;

margin-bottom: 12px;
}

.logo-kitchen
{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
  
    letter-spacing: 0.3em;

    color: #494848;

}

.p-kitchen-second
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #7A7A7A;


    width: 258px;


    margin-bottom: 28px;
    
    margin-top: 12px;
}

.p-kitchen-three
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: var(--brown);


    width: 163px;
}

.image-kitchen-first
{
    display: flex;
    justify-content: end;

    
    margin-bottom:32px ;
}


.image-kitchen-second
{
    margin-bottom:32px;
    margin-right: 20px;
}


.thumb-kitchen-one
{
    display: flex;
}

.slider-kitchen
{
    display: flex;
    overflow: hidden;
}

.image-kithcen-3
{
    margin-left: 84px;
    margin-right: 24px;
    width: 245px;
    height: 245px;
}
.image-kitchen-box-4
{
    overflow: hidden;
}
.image-kitchen-4
{
    width:245px; 
    height:245px;
}

.svg-arrows-kitchen
{
    display: flex;
    justify-content: end;
}

.visually-hiden-kitchen
{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}