

.container {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

.p-kitchen-one
{
font-family: 'Times New Roman';
font-size: 20px;
line-height: 23px;

margin-bottom: 12px;
}

.logo-kitchen
{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43 ;
  
    letter-spacing: 0.3em;

    color: #494848;

}

.p-kitchen-second
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #7A7A7A;


    width: 258px;


    margin-bottom: 28px;
    
    margin-top: 12px;
}

.p-kitchen-three
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: var(--brown);


    width: 163px;
}

.image-kitchen-first
{
    display: flex;
    justify-content: end;

    
    margin-bottom:32px ;

}


.image-kitchen-second
{
    margin-right: 20px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.thumb-kitchen-one
{
    display: flex;
}

.slider-kitchen
{
    display: flex;
    overflow: hidden;
    height: 245px;
}

.image-kithcen-3
{
    margin-left: 84px;
    margin-right: 24px;
    min-width: 245px;
    height: 245px;
}
.image-kitchen-box-4
{
    overflow: hidden;
}
.image-kitchen-4
{
    width:245px; 
    height:245px;
}



.visually-hiden
{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


@media  screen and (max-width: 413px) {
    .section-restuarant
    {
        padding-top: 16px;
        padding-bottom: 28px;
        position: relative;
    }
    /* .container {
        max-width: 414px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
      } */

.p-kitchen-one
{
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;

    margin-bottom: 12px;
    color: #B4B4B4;
}

.logo-kitchen
{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
  
    letter-spacing: 0.3em;

    color: #494848;

}

.p-kitchen-second
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: #7A7A7A;


    width: 258px;
    height: 76px;


    margin-bottom: 28px;
    
    margin-top: 12px;
}

.p-kitchen-three
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: var(--brown);


    width: 163px;

}

.image-kitchen-first
{
    display: flex;
    justify-content: end;

    
    margin-bottom:32px ;
    margin-right:0 ;
    width: 293px;
    height: 322px;
}

.image-item-first
    {
       
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        width: 293px;
        height: 322px;
    }
.image-kitchen-second
    {
        width: 200px;
        height: 278px;
    }


.thumb-kitchen-one
{
    display: flex;
    height: 278px;
    margin-bottom: 32px;
}

.slider-kitchen
{
    display: flex;
    overflow: hidden;
    margin-bottom: 24px;
}


.image-kitchen-box-4
{
    overflow: hidden;
}

.svg-arrows-kitchen
{
    max-width: 413px;
    position: absolute;
    left: 60%;
}

.svg-arrow-one
{
    margin-right: 33px;
}



}

@media screen and (min-width: 414px) and (max-width: 1023px) {
    .container {
      max-width: 414px;
    }
  


    .section-restuarant
    {
        padding-top: 16px;
        padding-bottom: 28px;
        position: relative;
    }

    /* .container {
        max-width: 1024px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
      } */

    .p-kitchen-one
    {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    
    margin-bottom: 12px;
    color: #B4B4B4;

    }
    
    .logo-kitchen
    {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
      
        letter-spacing: 0.3em;
    
        color: #494848;
    
    }
    
    .p-kitchen-second
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height:1.25;
        letter-spacing: 0.02em;
    
        color: #7A7A7A;
    
    
        width: 258px;
        height: 76px;
    
        margin-bottom: 28px;
        
        margin-top: 12px;
    }
    
    .p-kitchen-three
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    
        color: var(--brown);
    
    
        width: 163px;
    }
  
        
    .image-kitchen-first
    {
        display: flex;
        
    
        
        margin-bottom:32px ;
        margin-right: 34px;
   
    }
    
    .image-item-first
    {
        justify-content: end;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        width: 293px;
        height: 322px;
    }
    .image-kitchen-second
    {
        margin-right: 20px;
    }
    
    
    .thumb-kitchen-one
    {
        display: flex;
        margin-bottom: 32px;
    }
    
    .slider-kitchen
    {
        display: flex;
        overflow: hidden;
        margin-bottom: 24px;
    }
    
    .image-kithcen-3
    {
        margin-right: 24px;
        width: 245px;
        height: 245px;
    }
    .image-kitchen-box-4
    {
        overflow: hidden;
    }
    .image-kitchen-4
    {
        min-width:245px; 
        height:245px;
    }
    
    .svg-arrows-kitchen
    {
        max-width: 1024px;
        position: absolute;
        left: 70%;
    }

    .svg-arrow-one
    {
        margin-right: 33px;
    }







}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
      max-width: 1024px;
      padding-left: 47px;
      padding-right: 47px;
    }

    
    .section-restuarant
    {
        position: relative;
        padding-top:120px;
        padding-bottom: 39px;
    }
    
    .thumb-kitchen-second
    {
        width:439px;
        margin-left:47px ;
        margin-bottom: 142px;
    }

    .p-kitchen-one
    {
        font-family: 'Times New Roman';
        font-size: 32px;
        line-height: 1.15;
        
        margin-bottom: 12px;
        color: #B4B4B4;

    }
    
    .logo-kitchen
    {
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 64px;
        line-height: 1.075;
      
        letter-spacing: 0.3em;
    
        color: #494848;

    }
    
    .p-kitchen-second
    {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height:1.25;
        letter-spacing: 0.02em;
    
        color: #7A7A7A;
    
    
        width: 439px;
        height: 80px;
    
       
     
        margin-top: 12px;
    }
    
    .p-kitchen-three
    {
 
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    
        color: var(--brown);

        width: 312px;
        height: 122px;
        margin-left: 48px;
    }
  
        
    .image-kitchen-first
    {
        position: absolute;
        top: -2%;
        left: 50%;
    
        
        margin-bottom:32px ;
        margin-right: 34px;
       
    }
    


    .image-item-first
    {
        justify-content: end;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        width: 400px;
        height: 524px;

    }
    .image-kitchen-second
    {
        margin-right: 0;
        width: 350px;
        height: 500px;
    }
    
    
    .thumb-kitchen-one
    {
        display: flex;
        margin-bottom: 32px;
        margin-left:47px ;
        align-items: center;
    }
    
    .slider-kitchen
    {
        display: flex;
        overflow: hidden;
        justify-content: end;
        margin-bottom: 24px;
        height: 195px;
    }
   .image-kithcen-3
    {
        margin-right: 0;
        margin-left: 0;
        width: 195px;
        height: 195px;
    }
    .image-kitchen-item-3
    {
        
        width: 195px;
        height: 195px;
        margin-right: 40px;
    }
    .image-kitchen-box-4
    {
        overflow: hidden;
        width: 195px;
        height: 195px;
        margin-right: 60px;
    }
    .image-kitchen-item-4
    {
        min-width:195px; 
        height:195px;
        margin-right: 0;
    }
    
    .svg-arrows-kitchen
    {
        position: absolute;
        left: 82%;
    }
     

    .svg-arrow-one
    {
        margin-right: 33px;
    }

}

@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-left: 85px;
      padding-right: 85px;
    }
  }
  
