/*-------Restaurant Page--------*/
/*-------Section Menu-----------*/

.menu > .container {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  text-align: center;
}
.menu-table {
  text-align: left;
  margin-bottom: 32px;
}
.menu-title {
  font-family: 'Times New Roman', serif;
  font-size: 7vw;
  line-height: calc(37 / 32);
  color: var(--color-title);
  text-align: left;
  margin-bottom: 32px;
}

.menu-left {
  margin-bottom: 16px;
}
.menu-group-title {
  font-family: 'Times New Roman', serif;
  font-size: 5vw;
  line-height: calc(23 / 20);
  color: var(--color-title);
  margin-bottom: 16px;
}
.menu-group-list:not(:last-child) {
  margin-bottom: 16px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-item:not(:last-child) {
  margin-bottom: 8px;
}
.menu-item-description {
  max-width: 225px;
}

.menu-item-cost {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
  min-width: 31vw;
}
.menu-item-name {
  font-weight: 500;
  font-size: 3.5vw;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: var(--color-title);
  margin-bottom: 4px;
}
.menu-item-text {
  font-weight: 400;
  font-size: 2.5vw;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: var(--color-title);
}
.menu-item-weight {
  font-weight: 300;
  font-size: 3.5vw;
  line-height: calc(17 / 14);
  color: var(--color-title);
}
.menu-item-price {
  font-weight: 700;
  font-size: 3.5vw;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: var(--color-title);
}
.menu-button-reservation {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 4vw;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-yellow);
  padding: 3vw 6vw;
  background-color: var(--color-title);
  border: 2px solid var(--fon-lemon);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 200ms linear, border-color 200ms linear;
}
.menu-button-reservation:hover,
.menu-button-reservation:focus,
.menu-button-reservation:active {
  background-color: var(--hover-and-clik);
  border-color: var(--accent-yellow);
}

@media screen and (max-width: 1023px) {
  .menu-button-reservation {
    position: sticky;
    bottom: 5px;
  }
}

@media screen and (min-width: 414px) {
  .menu-title {
    font-size: 32px;
  }
  .menu-group-title {
    font-size: 20px;
  }
  .menu-button-reservation {
    font-size: 16px;
    padding: 14px 24px;
  }
  .menu-item-name,
  .menu-item-price,
  .menu-item-weight {
    font-size: 14px;
  }
  .menu-item-text {
    font-size: 10px;
  }
  .menu-item-cost {
    min-width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .menu > .container {
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: var(--fon-dark-lemon);
    text-align: right;
  }
  .menu-title {
    margin-bottom: 40px;
  }
  .menu-group-title {
    margin-bottom: 20px;
  }
  .menu-group-list:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu-left {
    margin-bottom: 0;
  }
  .menu-table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .menu-table {
      margin-bottom: 40px;
    }
    .menu-left .menu-item-cost {
      min-width: 145px;
    }
    .menu-right .menu-item-cost {
      min-width: 160px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu > .container {
    padding-bottom: 60px;
  }
  .menu-item-name {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
  .menu-item-description {
    max-width: 260px;
  }
  .menu-item-description.long {
    max-width: 291px;
  }
  .menu-item-text.long {
    max-width: 260px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .menu-right .menu-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .menu-item-cost {
    min-width: 165px;
  }
  .menu-group-list {
    min-width: 485px;
  }
}

/*-------Restaurant Page--------*/
/*-------Section Menu-----------*/
