<!-- Даю h2 бо розраховую, що h1 буде в секції hero -->
<section class="amenities-section">
  <div class="amenities-container">
    <div class="amenities-top">
      <h2 class="amenities-title wow animate__animated animate__fadeInDown">
        ЗРУЧНОСТІ У НОМЕРІ
      </h2>
      <p class="amenities-text wow animate__animated animate__fadeInDown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul class="amenities-menu">
      <li class="amenities-item">
        <h3
          class="amenities-item-title wow animate__animated animate__fadeInLeft"
        >
          ЗАГАЛЬНІ
        </h3>
        <div class="amenities-double-text">
          <p
            class="amenities-item-text wow animate__animated animate__fadeInLeft"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p
            class="amenities-item-text wow animate__animated animate__fadeInRight"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3
          class="amenities-item-title wow animate__animated animate__fadeInLeft"
        >
          ВАННА КІМНАТА
        </h3>
        <div class="amenities-double-text">
          <p
            class="amenities-item-text wow animate__animated animate__fadeInLeft"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p
            class="amenities-item-text wow animate__animated animate__fadeInRight"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3
          class="amenities-item-title wow animate__animated animate__fadeInLeft"
        >
          СПАЛЬНЯ
        </h3>
        <p
          class="amenities-item-text wow animate__animated animate__fadeInLeft"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3
          class="amenities-item-title wow animate__animated animate__fadeInLeft"
        >
          КУХНЯ
        </h3>
        <div class="amenities-double-text">
          <p
            class="amenities-item-text wow animate__animated animate__fadeInLeft"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p
            class="amenities-item-text wow animate__animated animate__fadeInRight"
          >
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h3
          class="amenities-item-title wow animate__animated animate__fadeInLeft"
        >
          МЕДІА
        </h3>
        <p
          class="amenities-item-text wow animate__animated animate__fadeInLeft"
        >
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities-bottom">
      <button class="amenities-btn js-open-modal" data-modal="2" type="button">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a class="amenities-link" href=""
        >Повернутися до перегляду номерів
        <svg class="amenities-arrow-icon" width="24" height="24">
          <use href="../../public/favicon.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
