!
<!-- Даю h2 бо розраховую, що h1 буде в секції hero -->
<section class="amenities-section">
  <div class="amenities-container">
    <div class="amenities-top">
      <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
      <p class="amenities-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul class="amenities-menu">
      <li class="amenities-item">
        <h3 class="amenities-item-title">ЗАГАЛЬНІ</h3>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-item-title">ВАННА КІМНАТА</h3>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-item-title">СПАЛЬНЯ</h3>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-item-title">КУХНЯ</h3>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities-item">
        <h3 class="amenities-item-title">МЕДІА</h3>
        <p class="amenities-item-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <button class="amenities-btn" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
    <a class="amenities-link" href="">Повернутися до перегляду номерів</a>
  </div>
</section>
