<section class="room-hero">
  <div class="room-container-hero">
    <div class="location-room">
      <svg class="hero-loc-icon-room" width="20" height="20">
        <use href="../../public/favicon.svg#icon-location"></use>
      </svg>
      <a
        href="https://goo.gl/maps/MbqE9SuhhLDQqPUe8"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hero-address-room wow animate__animated animate__zoomIn"
      >
        Україна, м. Полтава, вул. Маршала Бірюзова, 15
      </a>
    </div>
    <div class="room-wraps-left">
      <button type="button" class="room-button">
        <svg width="16" height="16" class="room-svg-button">
          <use href="./public/favicon.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="room-wraps-right">
      <button type="button" class="room-button">
        <svg width="16" height="16" class="room-svg-button">
          <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="hero-room-wrap-text">
      <h1 class="hero-title-room wow animate__animated animate__fadeInDown">
        ДВОМІСНИЙ НОМЕР люкс
      </h1>
      <p class="hero-text-room wow animate__animated animate__zoomIn">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <button
      type="button"
      class="hero-btn-room js-open-modal wow animate__animated animate__slideInLeft"
      data-modal="3"
    >
      Переглянути ціни
    </button>
    <ul class="hero-soc-list-room wow animate__animated animate__slideInLeft">
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
