<section>
  <div>
    <button type="button">
      <svg width="16" height="16">
        <use href=" /src/public/favicon.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button>
      <svg width="16" height="16">
        <use href="/src/public/favicon.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>

  <h1>ДВОМІСНИЙ НОМЕР люкс</h1>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <button type="button">Переглянути ціни</button>
  <a
    href="https://goo.gl/maps/MbqE9SuhhLDQqPUe8"
    target="_blank"
    rel="noopener noreferrer nofollow"
    src="/src/public/favicon.svg#icon-location"
    >Україна, м. Полтава, вул. Маршала Бірюзова, 15
    <svg width="16" height="16">
      <use href="/src/public/favicon.svg#icon-location"></use>
    </svg>
  </a>
  <ul>
    <li>
      <a href="">
        <svg width="16" height="16">
          <use href="/src/public/favicon.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg width="16" height="16">
          <use href="/src/public/favicon.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg width="16" height="16">
          <use href="/src/public/favicon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>