<section class="room-hero">
  <div class="room-container-hero">
    <div class="location-room">
      <svg class="hero-loc-icon-room" width="20" height="20">
        <use href="./public/favicon.svg#icon-location"></use>
      </svg>
      <a
        href="https://www.google.com.ua/maps/place/%D0%93%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD%D0%BD%D0%B8%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81+%22%D0%9C%D1%96%D0%BC%D1%96%D0%BD%D0%BE%22/@49.5991975,34.5243576,17z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t?hl=ru"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hero-address-room"
      >
        Україна, м. Полтава,</br>вул. Маршала Бірюзова, 15
      </a>
    </div>
    <div class="room-wraps-left">
      <button type="button" class="room-button">
        <svg width="40" height="40" class="room-svg-button">
          <use href="./public/favicon.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="room-wraps-right">
      <button type="button" class="room-button">
        <svg width="40" height="40" class="room-svg-button">
          <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="hero-room-wrap-text wow animate__animated animate__fadeInDown">
      <h1 class="hero-title-room">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-text-room">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <button type="button" class="hero-btn-room js-open-modal" data-modal="3">
      Переглянути ціни
    </button>
    <ul class="hero-soc-list-room">
      <li class="hero-soc-list-item">
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a
          href="https://telegram.org"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero-soc-icons-room" width="24" height="24">
            <use href="./public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
