<div class="modal amenities-modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <!-- editing zone -->
  <!-- <p class="modal__title">ЗАБРОНЮВАТИ НОМЕР</p> -->
  <p class="amenities-modal-title">ЗАБРОНЮВАТИ НОМЕР</p>
  <form class="amenities-form">
    <div class="amenities-sectio-betwen">
      <div class="amenities-input-wrap">
        <input
          type="text"
          name="user"
          class="amenities-input"
          id="user"
          placeholder="Ваше ім’я"
          pattern="[a-zA-Z]+"
          minlength="3"
          required
        />
        <label for="user" class="amenities-label"
          >На кого забронювати номер?</label
        >
      </div>
      <div class="amenities-input-wrap">
        <input
          type="tel"
          name="phone"
          class="amenities-input"
          id="phone"
          minlength="10"
          placeholder="+38 (___) ___-__-__"
          required
        />
        <label for="phone" class="amenities-label">Номер телефону</label>
      </div>
    </div>
    <div class="amenities-input-wrap special-wrap">
      <div class="amenities-select">
        <select
          class="amenities-input amenities-input-select"
          id="room-type"
          name="room-type"
          required
        >
          <option value="lux">Двомісний люкс</option>
          <option value="two">Двомісний</option>
          <option value="three">Трьохмісний</option>
        </select>
        <svg class="amenities-modal-icon" width="24" height="24">
          <use href="../../public/favicon.svg#icon-arrow-down"></use>
        </svg>
      </div>
      <label for="room-type" class="amenities-label label-transform"
        >Категорія номеру</label
      >
    </div>
    <div class="amenities-sectio-betwen">
      <div class="amenities-input-wrap input-margin">
        <div class="amenities-select">
          <select
            class="amenities-input amenities-input-select"
            id="arive"
            name="arive"
            required
          >
            <option value="1">Сьогодні</option>
            <option value="2">Завтра</option>
          </select>
          <svg class="amenities-modal-icon" width="24" height="24">
            <use href="../../public/favicon.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <label for="arive" class="amenities-label">Дата заїзду</label>
      </div>
      <div class="amenities-input-wrap input-margin">
        <div class="amenities-select">
          <select
            class="amenities-input amenities-input-select"
            id="departure"
            name="departure"
            required
          >
            <option value="1">Сьогодні</option>
            <option value="2">Завтра</option>
          </select>
          <svg class="amenities-modal-icon" width="24" height="24">
            <use href="../../public/favicon.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <label for="departure" class="amenities-label">Дата виїзду</label>
      </div>
    </div>
    <button class="amenities-modal-btn" type="submit">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
  </form>
</div>
