<section class="room-two">
  <div class="container">
    <p class="second-text">Amet minim mollit non</p>
    <a class="room-logo" href="">mimino</a>
    <h2 class="two-title">Двомісний номер</h2>
    <p class="prim-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-photo"><img src="" alt="room photo" width="244" /></div>
    <a class="link-details" href="">Детальніше</a>
    <button class="btn-price" type="button">Переглянути ціни</button>
  </div>
</section>
