<section class="room-three">
  <div class="container container-room">
    <p class="room-three-secondtxt wow animate__animated animate__fadeInLeft">
      Amet minim mollit non
    </p>
    <p class="room-three-logo wow animate__animated animate__fadeInLeft">
      mimino
    </p>
    <h2 class="room-three-title wow animate__animated animate__backInRight">
      Трьохмісний номер
    </h2>
    <p class="room-three-primtext wow animate__animated animate__backInRight">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-three-photo wow animate__animated animate__pulse">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/hotel/img-1.jpg 1x, ./img/hotel/img-1-2x.jpg 2x"
        />
        <source
          media="(min-width: 1024px)"
          srcset="./img/hotel/img-1-tab.jpg 1x, ./img/hotel/img-1-tab-2x.jpg 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/hotel/img-1-mob.jpg 1x, ./img/hotel/img-1-mob-2x.jpg 2x"
        />
        <img
          srcset="./img/hotel/img-1-mob.jpg 1x, ./img/hotel/img-1-mob.jpg 2x"
          src="./img/hotel/img-1-mob.jpg"
          alt="room photo"
        />
      </picture>
    </div>

    <div class="swiper swiper-hotel-right wow animate__animated animate__pulse">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-hotel">
          <picture>
            <source
              srcset="./img/slider/img-4.jpg 1x, ./img/slider/img-4-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/slider/img-4-tab.jpg    1x,
                ./img/slider/img-4-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/slider/img-4-mob.jpg    1x,
                ./img/slider/img-4-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="./img/slider/img-4.jpg" alt="about-3" width="194px" />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide-hotel">
          <picture>
            <source
              srcset="./img/slider/img-5.jpg 1x, ./img/slider/img-5-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/slider/img-5-tab.jpg    1x,
                ./img/slider/img-5-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/slider/img-5-mob.jpg    1x,
                ./img/slider/img-5-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="./img/slider/img-5.jpg" alt="about-3" width="194px" />
          </picture>
        </div>
        <div class="swiper-slide swiper-slide-hotel">
          <picture>
            <source
              srcset="./img/slider/img-1.jpg 1x, ./img/slider/img-1-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/slider/img-1-tab.jpg    1x,
                ./img/slider/img-1-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/slider/img-1-mob.jpg    1x,
                ./img/slider/img-1-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="./img/slider/img-1.jpg" alt="about-3" width="194px" />
          </picture>
        </div>
      </div>
      <div class="swiper-hotel-right-button-wrrap">
        <div class="swiper-button-prev swiper-hotel-right-button-prev">
          <svg class="swiper-hotel-right-button-prev-icon">
            <use href="./public/favicon.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-hotel-right-button-next">
          <svg class="swiper-hotel-right-button-next-icon">
            <use href="./public/favicon.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="about-room-three">
      <a
        class="room-three-details wow animate__animated animate__fadeInLeft"
        href="./partials/room/amenities.html"
        >Детальніше</a
      >
      <button
        class="room-three-price js-open-modal wow animate__animated animate__fadeInLeft"
        data-modal="3"
        type="button"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
