<section class="three-adult">
  <div class="container">
    <p class="three-second-text">Amet minim mollit non</p>
    <a class="three-adult-logo" href="">mimino</a>
    <h2 class="three-adult-title">Трьохмісний номер</h2>
    <p class="three-prim-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="three-adult-photo">
      <img src="" alt="room photo" width="244" />
    </div>
    <div class="about-room">
      <a class="link-details" href="">Детальніше</a>
      <button class="btn-price" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
