<section class="room-three">
  <div class="container container-room">
    <p class="room-three-secondtxt">Amet minim mollit non</p>
    <p
      class="room-three-logo animate__animated animate__pulse animate__slow animate__infinite wow"
    >
      mimino
    </p>
    <h2 class="room-three-title">Трьохмісний номер</h2>
    <p class="room-three-primtext">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="room-three-photo">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/hotel/img-1.jpg 1x, ./img/hotel/img-1-2x.jpg 2x"
        />
        <source
          media="(min-width: 1024px)"
          srcset="./img/hotel/img-1-tab.jpg 1x, ./img/hotel/img-1-tab-2x.jpg 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/hotel/img-1-mob.jpg 1x, ./img/hotel/img-1-mob-2x.jpg 2x"
        />
        <img
          srcset="./img/hotel/img-1-mob.jpg 1x, ./img/hotel/img-1-mob.jpg 2x"
          src="./img/hotel/img-1-mob.jpg"
          alt="room photo"
        />
      </picture>
    </div>

    <div class="swiper ser-swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider-box">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-pc-1.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-pc-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-tab-1.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-tab-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-1.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-1-2x.jpg 2x
              "
            />
            <img
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-1.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-1-2x.jpg 2x
              "
              src="./img/hotel/hotel-slider-rooms/hotel-mob-1.jpg"
              alt="room photo"
            />
          </picture>
        </div>
        <div class="swiper-slide slider-box">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-pc-2.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-pc-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-tab-2.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-tab-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-2.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-2-2x.jpg 2x
              "
            />
            <img
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-2.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-2-2x.jpg 2x
              "
              src="./img/hotel/hotel-slider-rooms/hotel-mob-2.jpg"
              alt="room photo"
            />
          </picture>
        </div>
        <div class="swiper-slide slider-box">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-pc-3.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-pc-3-2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-tab-3.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-tab-3-2x.jpg 2x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-3.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-3-2x.jpg 2x
              "
            />
            <img
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-3.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-3-2x.jpg 2x
              "
              src="./img/hotel/hotel-slider-rooms/hotel-mob-3.jpg"
              alt="room photo"
            />
          </picture>
        </div>
        <div class="swiper-slide slider-box">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-pc-4.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-pc-4-2x.jpg 2x
              "
            />
            <source
              media="(min-width:1024px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-tab-4.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-tab-4-2x.jpg 2x
              "
            />
            <source
              media="(min-width:320px)"
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-4.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-4-2x.jpg 2x
              "
            />
            <img
              srcset="
                ./img/hotel/hotel-slider-rooms/hotel-mob-4.jpg    1x,
                ./img/hotel/hotel-slider-rooms/hotel-mob-4-2x.jpg 2x
              "
              src="./img/hotel/hotel-slider-rooms/hotel-mob-4.jpg"
              alt="room photo"
            />
          </picture>
        </div>
      </div>
      <div class="mybox-slider">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>

    <div class="about-room-three">
      <a class="room-three-details" href="">Детальніше</a>
      <button class="room-three-price" type="button">Переглянути ціни</button>
    </div>
  </div>
</section>
