<footer>
  <a href="./index.html">MIMINO</a>
  <ul>
    <li>
      <a href="#">Головна</a>
    </li>
    <li>
      <a href="#">Ресторан</a>
    </li>
    <li>
      <a href="#">Готель</a>
    </li>
  </ul>
  <ul>
    <li>
      <svg class="header-svg" width="22" height="22">
        <use href="./public/favicon.svg#icon-instagram"></use>
      </svg>
    </li>
  <li>
    <svg class="header-svg" width="22" height="22">
      <use href="./public/favicon.svg#icon-facebook"></use>
    </svg>
  </li>
  <li>
    <svg class="header-svg" width="22" height="22">
      <use href="./public/favicon.svg#icon-telegram"></use>
    </svg>
  </li>
  
</ul>
</footer>
