<footer class="footer">
  <div class="container">
    <a href="./index.html" class="footer-logo-link">
      <span class="footer-logo animate__animated animate__zoomIn">MIMIHO</span>
    </a>
    <div class="footer-nav-soc">
      <ul class="footer-nav-list wow animate__animated animate__fadeInDown">
        <li class="footer-nav-item">
          <a href="#">Головна</a>
        </li>
        <li class="footer-nav-item">
          <a href="#">Ресторан</a>
        </li>
        <li class="footer-nav-item">
          <a href="#">Готель</a>
        </li>
      </ul>
      <ul class="footer-soc-list">
        <li class="footer-soc-list-item">
          
          <a class="footer-soc-link wow animate__animated animate__fadeInDown"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          <span class="footer-name-icon">Instagram</span>
            <svg class="footer-svg" width="24" height="24">
              <use href="./public/favicon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list-item">
          
          <a class="footer-soc-link wow animate__animated animate__slideInRight"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          <span class="footer-name-icon">Facebook</span>
            <svg class="footer-svg" width="24" height="24">
              <use href="./public/favicon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list-item">
          
          <a class="footer-soc-link wow animate__animated animate__fadeInUp"
            href="https://telegram.org"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
          <span class="footer-name-icon">Telegram</span>
            <svg class="footer-svg" width="24" height="24">
              <use href="./public/favicon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>


