<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="./index.html" class="header-link">
        <span class="header-logo wow animate__animated animate__zoomIn"
          >MIMINO</span
        >
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a
            href="./restaurant.html"
            class="header-nav-link wow animate__animated animate__fadeInDown"
            >Ресторан</a
          >

          <a
            class="header-svg-nam wow animate__animated animate__slideInRight"
            href="tel:#"
            class="header-link-tel"
          >
            <svg class="header-svg-phone" width="24" height="24">
              <use href="./public/favicon.svg#icon-phone"></use>
            </svg>
            <p class="header-phone-nam">095 555 95 33</p>
          </a>
        </li>
        <li class="header-item">
          <a
            href="./hotel.html"
            class="header-nav-link wow animate__animated animate__fadeInDown"
            >Готель</a
          >
          <a
            class="header-svg-nam wow animate__animated animate__slideInRight"
            href="tel:#"
            class="header-link-tel"
          >
            <svg class="header-svg-phone" width="24" height="24">
              <use href="./public/favicon.svg#icon-phone"></use>
            </svg>
            <p class="header-phone-nam">066 849 10 89</p>
          </a>
        </li>
      </ul>
    </div>

    <ul class="header-soc-list wow animate__animated animate__zoomIn">
      <li class="header-soc-item">
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-svg" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-svg" width="24" height="24">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://telegram.org"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-svg" width="24" height="24">
            <use href="./public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
