/* ========== MOBILE ========== */
.amenities-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.amenities-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .amenities-container {
    width: 414px;
  }
}
.amenities-top {
  margin-bottom: 32px;
}
.amenities-title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15em;
  color: #000000;
  margin-bottom: 16px;
}
.amenities-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.amenities-menu {
  margin-bottom: 32px;
}
.amenities-item:not(:last-child) {
  margin-bottom: 32px;
}
.amenities-item-title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.85em;
  margin-bottom: 16px;
}
.amenities-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.amenities-double-text > .amenities-item-text:nth-child(1) {
  margin-bottom: 16px;
}
.amenities-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amenities-btn {
  width: 100%;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
}
.amenities-btn:hover,
.amenities-btn:focus {
  background-color: #f3c653;
  color: #000000;
}
.amenities-link {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #c79002;
}
.amenities-link:hover,
.amenities-link:focus {
  color: #f3c653;
}
.amenities-link::after {
  /* position: absolute; */
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-color: #c79002;
  margin-left: 16px;
  /* top: 0;
  right: -32px; */
}

/* ========== TABLET ========== */

@media screen and (min-width: 1024px) {
  .amenities-section {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .amenities-container {
    width: 960px;
  }
  .amenities-text {
    width: 757px;
  }
  .amenities-menu {
    margin-bottom: 40px;
  }
  .amenities-item-text {
    width: 400px;
    max-height: 83px;
    margin-bottom: 0;
  }
  .amenities-double-text > .amenities-item-text:nth-child(1) {
    margin-bottom: 0px;
  }
  .amenities-double-text {
    display: flex;
    gap: 80px;
  }
  .amenities-btn {
    width: 434px;
  }
  .amenities-bottom {
    align-items: end;
  }
  .amenities-btn {
    font-size: 24px;
    line-height: 1.2em;
  }
  .amenities-link {
    font-size: 20px;
    line-height: 1.2em;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .amenities-container {
    width: 1026px;
  }
  .amenities-double-text {
    gap: 159px;
  }
  .amenities-item-text {
    min-width: 400px;
    max-height: 83px;
  }
}
