/* ========== MOBILE ========== */

.amenities-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .amenities-container {
    width: 414px;
  }
}
.amenities-top {
  margin-bottom: 32px;
}
.amenities-title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15em;
  color: #000000;
  margin-bottom: 16px;
}
.amenities-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.amenities-item {
  margin-bottom: 32px;
}
.amenities-item-title {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.85em;
  margin-bottom: 16px;
}
.amenities-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.amenities-double-text > .amenities-item-text:nth-child(1) {
  margin-bottom: 16px;
}
.amenities-btn {
  width: 100%;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
}
.amenities-btn:hover,
.amenities-btn:focus {
  background-color: #f3c653;
  color: #000000;
}
.amenities-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #c79002;
}
.amenities-link::after {
  display: block;
  content: '';
  background-image: ;
}

/* ========== TABLET ========== */

@media screen and (min-width: 1024px) {
  .amenities-container {
    width: 910px;
  }
  .amenities-text {
    width: 757px;
  }
  .amenities-item-text {
    width: 400px;
    height: 83px;
  }
  .amenities-double-text {
    display: flex;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .amenities-container {
    width: 959px;
  }
  .amenities-double-text {
    gap: 159px;
  }
}
