.room-container-hero {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 414px;
}
.room-hero {
  margin: 0 auto;
  padding-top: 181px;
  padding-bottom: 22px;

  height: 741px;
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 80px,
      rgba(0, 0, 0, 0) 147px
    ),
    url(../../img/room/hero-bg-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.room-wraps-left {
  stroke: #f3c653;
  fill: #f3c653;

  border: 0px;
  position: absolute;
  left: 15px;
  top: 180px;
}
.room-wraps-right {
  position: absolute;
  stroke: #f3c653;
  fill: #f3c653;
  top: 180px;

  right: 15px;
  border: 0px;
}

.room-button {
  border: 0px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.65);
  border-color: none;
  padding: 0;
}
.hero-btn-room:hover {
  background: #ffffff;
}
.hero-btn-room:focus {
  background: #ffffff;
}
.hero-btn-room {
  position: relative;
  top: 470px;

  display: inline-block;
  padding: 14px 24px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--accent-yellow);
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;

  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #ffffff;
}

.room-svg-button {
  color: #f3c653;
}
.hero-room-wrap-text {
  position: absolute;
  top: 300px;
  left: 15px;
}
.hero-title-room {
  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  padding: 0;
}
.hero-text-room {
  font-family: 'Montserrat';

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
  padding: 0;
  margin-top: 14px;
}
.location-room {
  position: absolute;
  display: flex;
  top: -117px;
  right: 12px;
  width: 210px;
  height: 47px;
  align-items: center;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
.hero-loc-icon-room {
  fill: var(--accent-yellow);
  margin-right: 8px;
  margin-left: 8px;
}
.hero-address-room {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: left;

  color: #e5e5e5;
}
.hero-soc-list-room {
  display: flex;
  gap: 22px;
  margin-left: 15px;
}
.hero-soc-list-room {
  position: absolute;
  display: table-caption;
  left: 0px;
  top: 460px;
}
.hero-soc-icons-room {
  fill: var(--accent-yellow);
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .room-hero {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/room/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 415px) {
  .room-hero {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 78px,
        rgba(0, 0, 0, 0) 143px
      ),
      url(../../img/room/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 78px,
          rgba(0, 0, 0, 0) 143px
        ),
        url(../../img/room/hero-bg-tab-2x.jpg);
    }
    .hero-soc-list-room {
      position: absolute;
      display: table-caption;
      left: 0px;
      top: 460px;
    }
    .hero-title-room {
      font-family: 'Times New Roman';
      width: 325px;

      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-align: left;
      padding: 0;
    }

    .hero-text-room {
      font-family: 'Montserrat';
      width: 325px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-align: left;
      padding: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .room-container-hero {
      max-width: 1024px;
      padding-left: 47px;
      padding-right: 47px;
    }

    .room-hero {
      padding-top: 188px;
      padding-bottom: 15px;
    }
    .location-room {
      position: absolute;
    }
    .room-wraps-left {
      margin-left: 30px;
    }
    .room-wraps-right {
      margin-right: 30px;
    }
    .hero-room-wrap-text {
      margin-left: 30px;
    }
    .hero-title-room {
      letter-spacing: 0.02em;
      font-size: 36px;
      width: 507px;
    }
    .hero-text-room {
      width: 400px;
      font-size: 16px;
      margin-top: 24px;
    }

    .hotel-hero-subheading {
      margin-bottom: 226px;

      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }

    .location-room {
      position: absolute;
      left: 45px;
      top: 485px;
    }

    .hero-soc-list-room {
      position: absolute;
      display: flex;
      gap: 20px;
      margin-left: 0px;
      left: 300px;
      top: 495px;
    }
    .hero-btn-room {
      position: absolute;
      left: 745px;
      top: 445px;
    }
  }

  @media screen and (min-width: 1025px) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 80px,
          rgba(0, 0, 0, 0) 147px
        ),
        url(../../img/room/hero-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .room-hero {
        background-image: linear-gradient(
            180deg,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 80px,
            rgba(0, 0, 0, 0) 147px
          ),
          url(../../img/room/hero-bg-2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .room-container-hero {
      max-width: 1280px;
      padding-left: 47px;
      padding-right: 47px;
    }

    .room-hero {
      padding-top: 164px;
      padding-bottom: 65px;
    }
    .location-room {
      visibility: hidden;
      display: none;
    }
    .hero-soc-list-room {
      visibility: hidden;
      display: none;
    }
    .room-wraps-left {
      position: absolute;
      margin-left: 68px;
      top: 255px;
    }
    .room-wraps-right {
      position: absolute;
      margin-right: 68px;
      top: 255px;
    }
    .hero-btn-room {
      position: absolute;
      width: 232px;

      left: 965px;
    }
    .hero-room-wrap-text {
      position: absolute;
      top: 390px;
    }
    .hero-title-room {
      width: 507px;
      font-size: 36px;
    }
    .hero-text-room {
      width: 400px;
      font-size: 16px;
    }
    .hero-room-wrap-text {
      margin-left: 75px;
    }
    .room-container > .room-location {
      top: 425px;
    }
  }
}
