.room-hero {
  position: relative;
  margin: 0 auto;
  padding-top: 483px;
  padding-bottom: 14px;
  max-width: 1280px;

  overflow: hidden;
}

.room-container-hero {
  position: relative;
  z-index: 1;
}

.room-arrow-left {
  stroke: #f3c653;
  fill: #f3c653;

  border: 0px;
}

.room-arrow-right {
  width: 40px;
  stroke: #f3c653;
  fill: #f3c653;
}

.room-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 93px;
}

.hero-room-wrap-text {
  max-width: 325px;
  margin-bottom: 15px;
}

.hero-title-room {
  font-family: 'Times New Roman';

  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;

  margin-bottom: 14px;
}

.hero-text-room {
  font-family: 'Montserrat';

  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
}

.location-room {
  position: absolute;
  top: 65px;
  right: 15px;

  display: flex;
  align-items: center;

  width: 210px;
  padding: 8px 3px 9px;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

.hero-loc-icon-room {
  fill: var(--accent-yellow);
  margin-right: 8px;
}

.hero-address-room {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: left;

  color: #e5e5e5;
}

.hero-soc-list-room {
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0.7;
}

.room-button-arrow {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  border-color: none;
  padding: 0;
}

.hero-btn-room {
  position: absolute;
  bottom: 40px;
  right: 73px;

  display: inline-block;

  padding: 14px 24px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4vw;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;

  color: var(--accent-yellow);
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;

  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.hero-btn-room:hover,
.hero-btn-room:focus {
  background: #ffffff;
  outline-color: var(--accent-yellow);

  border-color: var(--accent-yellow);
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #ffffff;
}

.room-svg-button {
  color: #f3c653;
}

.hero-soc-icons-room {
  fill: var(--accent-yellow);
}

@media screen and (min-width: 414px) {
  .hero-btn-room {
    max-width: 232px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .room-hero {
    padding-top: 468px;
    padding-bottom: 22px;
  }

  .room-arrows {
    margin-bottom: 88px;
  }

  .hero-title-room {
    font-size: 36px;
    line-height: calc(41 / 36);

    margin-bottom: 24px;
  }

  .hero-room-wrap-text {
    max-width: 509px;
    margin-bottom: 24px;
  }

  .hero-text-room-width {
    max-width: 400px;
  }

  .hero-text-room {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
  }

  .location-room {
    position: static;

    width: 285px;
    padding: 8px 8px 8px 10px;
  }

  .hero-address-room {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .hero-btn-room {
    bottom: 62px;
    right: 47px;
  }

  .hero-room-down-wrap {
    display: flex;
    align-items: center;
  }

  .hero-soc-list-room {
    display: flex;
    flex-direction: row;
    gap: 15px;
    opacity: 0.7;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .room-hero {
    padding-top: 524px;
    padding-bottom: 48px;
  }

  .room-arrows {
    margin-bottom: 72px;
  }

  .hero-room-down-wrap {
    display: none;
  }

  .hero-room-wrap-text {
    margin-bottom: 0;
  }

  .hero-btn-room {
    bottom: 66px;
    right: 85px;
  }
}

.background-room-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 80px,
      rgba(0, 0, 0, 0) 147px
    ),
    url(../../img/room/hero-bg-mob.jpg);
  text-align: center;
  transition: transform 500ms var(--timing-function);
  transform: translateX(0);
}

.background-room-wrapper[data-room-id='2'] {
  background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 80px,
      rgba(0, 0, 0, 0) 147px
    ),
    url(../../img/more/img-7-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-room-wrapper {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/room/hero-bg-mob-2x.jpg);
  }
  .background-room-wrapper[data-room-id='2'] {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/more/img-7-mob-2x.jpg);
  }
}

@media screen and (min-width: 414px) {
  .background-room-wrapper {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 78px,
        rgba(0, 0, 0, 0) 143px
      ),
      url(../../img/room/hero-bg-tab.jpg);
  }
  .background-room-wrapper[data-room-id='2'] {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 78px,
        rgba(0, 0, 0, 0) 143px
      ),
      url(../../img/more/img-7-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-room-wrapper {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 78px,
          rgba(0, 0, 0, 0) 143px
        ),
        url(../../img/room/hero-bg-tab-2x.jpg);
    }
  }
  .background-room-wrapper[data-room-id='2'] {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 78px,
        rgba(0, 0, 0, 0) 143px
      ),
      url(../../img/more/img-7-tab-2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .background-room-wrapper {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/room/hero-bg.jpg);
  }
  .background-room-wrapper[data-room-id='2'] {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/more/img-7.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-room-wrapper {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 80px,
          rgba(0, 0, 0, 0) 147px
        ),
        url(../../img/room/hero-bg-2x.jpg);
    }
    .background-room-wrapper[data-room-id='2'] {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 80px,
          rgba(0, 0, 0, 0) 147px
        ),
        url(../../img/more/img-7-2x.jpg);
    }
  }
}

/* room-hero-swiper */

.room-hero-swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.background-room-wrapper {
  background-position: center;
  background-size: cover;
}
.background-room-wrapper img {
  display: block;
  width: 100%;
}

.room-hero-right::after,
.room-hero-left::after {
  content: '';
}

.room-hero-left,
.room-hero-right {
  width: 40px;
}
@media screen and (min-width: 1024px) {
  .room-hero-left {
    left: 47px;
  }

  .room-hero-right {
    right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .room-hero-left,
  .room-hero-right {
    top: 412px;
  }

  .room-hero-left {
    left: 85px;
  }

  .room-hero-right {
    right: 85px;
  }
}
/* background-image: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 80px,
      rgba(0, 0, 0, 0) 147px
    ),
    url(../../img/room/hero-bg-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */

/* @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .room-hero {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 80px,
        rgba(0, 0, 0, 0) 147px
      ),
      url(../../img/room/hero-bg-mob-2x.jpg);
  }
} */

/* .room-hero {
    background-image: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 78px,
        rgba(0, 0, 0, 0) 143px
      ),
      url(../../img/room/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 78px,
          rgba(0, 0, 0, 0) 143px
        ),
        url(../../img/room/hero-bg-tab-2x.jpg);
    }
  } */

/* .hero-soc-list-room {
      position: absolute;
      display: table-caption;
      left: 0px;
      top: 460px;
    }
    .hero-title-room {
      font-family: 'Times New Roman';
      width: 325px;

      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-align: left;
      padding: 0;
    }

    .hero-text-room {
      font-family: 'Montserrat';
      width: 325px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-align: left;
      padding: 0;
    } */

/* }
  .hero-btn-room {
    font-size: 16px;
  }
  
  @media screen and (min-width: 1024px) {
    .room-container-hero {
      max-width: 1024px;
      padding-left: 47px;
      padding-right: 47px;
    }

    .room-hero {
      padding-top: 188px;
      padding-bottom: 15px;
    }
    
    .room-wraps-left {
      margin-left: 30px;
    }
    .room-wraps-right {
      margin-right: 30px;
    }
    .hero-room-wrap-text {
      margin-left: 30px;
    }
    .hero-title-room {
      letter-spacing: 0.02em;
      font-size: 36px;
      width: 507px;
    }
    .hero-text-room {
      width: 400px;
      font-size: 16px;
      margin-top: 24px;
    }

    .hotel-hero-subheading {
      margin-bottom: 226px;

      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }

    .location-room {
      position: absolute;
      left: 45px;
      top: 485px;
    }

    .hero-soc-list-room {
      position: absolute;
      display: flex;
      gap: 20px;
      margin-left: 0px;
      left: 300px;
      top: 495px;
    }
    .hero-btn-room {
      position: absolute;
      left: 745px;
      top: 445px;
    }

    .hero-address-room {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 1025px) {
    .room-hero {
      background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0.55) 80px,
          rgba(0, 0, 0, 0) 147px
        ),
        url(../../img/room/hero-bg.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .room-hero {
        background-image: linear-gradient(
            180deg,
            #000000 0%,
            rgba(0, 0, 0, 0.55) 80px,
            rgba(0, 0, 0, 0) 147px
          ),
          url(../../img/room/hero-bg-2x.jpg);
      }
      
      
    }
  }

  @media screen and (min-width: 1280px) {
   .room-hero{
    max-width: 1200px;
   }
    .room-container-hero {
      max-width: 1280px;
      padding-left: 47px;
      padding-right: 47px;
    }

    .room-hero {
      padding-top: 164px;
      padding-bottom: 65px;
    }
    .location-room {
      display: none;
    }
    .hero-soc-list-room {
      display: none;
    }

    .room-wraps-left {
      position: absolute;
      margin-left: 68px;
      top: 255px;
    }
    .room-wraps-right {
      position: absolute;
      margin-right: 68px;
      top: 255px;
    }
    .hero-btn-room {
      position: absolute;
      width: 232px;

      left: 850px;
    }
    .hero-room-wrap-text {
      position: absolute;
      top: 390px;
    }
    .hero-title-room {
      width: 507px;
      font-size: 36px;
    }
    .hero-text-room {
      width: 400px;
      font-size: 16px;
    }
    .hero-room-wrap-text {
      margin-left: 75px;
    }
    .room-container > .room-location {
      top: 425px;
    }
  }
}

@media screen and (min-width: 1025px) {
  
  .location-room {
    width: 285px;
    height: 56px;
  }
  .hero-soc-list-room{
    left: 369px;
    top: 500px;
  }
} */
