@font-face {
  font-family: 'Film P3';
  src: url('../fonts/FilmP3Bold.woff') format('woff'),
    url('../fonts/FilmP3Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

html *,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--fon-lemon);
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) and (max-width: 1023px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/*  */

.swiper-about-right,
.swiper-about-left {
  width: 85%;
  padding-bottom: 52px;
}
.swiper-about-right {
  margin-right: -15px;
}
.swiper-about-left {
  margin-left: -15px;
}

@media screen and (min-width: 414px) {
  .swiper-about-right,
  .swiper-about-left {
    width: 330px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-about-right,
  .swiper-about-left {
    width: 428px;
    margin-top: -28px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-about-right,
  .swiper-about-left {
    width: 548px;
    margin-top: -147px;
  }
}
.swiper-about-right-button-wrrap,
.swiper-about-left-button-wrrap {
  position: absolute;
}

.swiper-about-right-button-wrrap,
.swiper-about-left-button-wrrap {
  bottom: 32px;
}
.swiper-about-right-button-wrrap {
  right: 47px;
}
.swiper-about-left-button-wrrap {
  left: 64px;
}

.swiper-slide {
  width: 245px;
}

@media screen and (min-width: 1024px) {
  .swiper-slide {
    width: 194px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-slide {
    width: 254px;
  }
}

.swiper-about-right-button-next::after,
.swiper-about-right-button-prev::after,
.swiper-about-left-button-next::after,
.swiper-about-left-button-prev::after {
  display: none;
}
.swiper-about-right-button-next {
  left: 0;
  right: -48px;
}
.swiper-button-prev.swiper-about-left-button-prev {
  right: -48px;
}
.swiper-about-right-button-prev {
  left: -47px;
}
.swiper-button-next.swiper-about-left-button-next {
  left: -32px;
}

.swiper-about-right-button-next-icon,
.swiper-about-right-button-prev-icon,
.swiper-about-left-button-next-icon,
.swiper-about-left-button-prev-icon {
  width: 32px;
  height: 32px;
}
