.header {
  background-color: gray;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}

.logo {
  display: inline-block;
   width: 114px;
  
  font-family: 'Film P3';
  font-weight: 700;
  /* font-size: 36px; */
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.header-list {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
