<section class="about-rest-main">
  <div class="about-rest-main-container">
    <h2 class="visually-hidden">About our restaurant</h2>
    <p
      class="about-rest-main-pre-title wow animate__animated animate__fadeInLeft"
    >
      Amet minim mollit non
    </p>
    <p class="about-rest-main-title wow animate__animated animate__fadeInLeft">
      MIMIHO
    </p>
    <p
      class="about-rest-main-post-title wow animate__animated animate__fadeInLeft"
    >
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div
      class="about-rest-main-img-first-wrap wow animate__animated animate__pulse"
    >
      <picture>
        <source
          srcset="./img/homepage/rest-1.jpg, ./img/homepage/rest-1-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/homepage/rest-1-tab.jpg,
            ./img/homepage/rest-1-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/homepage/rest-1-mob.jpg,
            ./img/homepage/rest-1-mob-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img src="./img/homepage/rest-1.jpg" alt="Restaurant" />
      </picture>
    </div>
    <div class="about-rest-main-thumb">
      <div
        class="about-rest-main-img-second-wrap wow animate__animated animate__pulse"
      >
        <picture>
          <source
            srcset="
              ./img/homepage/rest-2.jpg    1x,
              ./img/homepage/rest-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/homepage/rest-2-tab.jpg    1x,
              ./img/homepage/rest-2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/homepage/rest-2-mob.jpg    1x,
              ./img/homepage/rest-2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <img src="./img/homepage/rest-2.jpg" alt="Restaurant" />
        </picture>
      </div>
      <p
        class="about-rest-main-text wow animate__animated animate__fadeInRight"
      >
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="swiper swiper-about-right">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about-3.jpg    1x,
                ./img/restaurant/about-3-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/restaurant/about-3-tab.jpg    1x,
                ./img/restaurant/about-3-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/restaurant/about-3-mob.jpg    1x,
                ./img/restaurant/about-3-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/restaurant/about-3.jpg"
              alt="about-3"
              width="245px"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/restaurant/about-3.jpg    1x,
                ./img/restaurant/about-3-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/restaurant/about-3-tab.jpg    1x,
                ./img/restaurant/about-3-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./img/restaurant/about-3-mob.jpg    1x,
                ./img/restaurant/about-3-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/restaurant/about-3.jpg"
              alt="about-3"
              width="245px"
            />
          </picture>
        </div>
        <div class="swiper-slide first">
          <picture>
            <source
              srcset="
                ./img/restaurant/about-3.jpg    1x,
                ./img/restaurant/about-3-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/restaurant/about-3-tab.jpg    1x,
                ./img/restaurant/about-3-tab-2x.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                .img/restaurant/about-3.jpg     1x,
                ./img/restaurant/about-3-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/restaurant/about-3.jpg"
              alt="about-3"
              width="245px"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-about-right-button-wrrap">
        <div class="swiper-button-prev swiper-about-right-button-prev">
          <svg class="swiper-about-right-button-prev-icon">
            <use href="./public/favicon.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-about-right-button-next">
          <svg class="swiper-about-right-button-next-icon">
            <use href="./public/favicon.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
