<section class="about-hotel">
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div
      class="about-hotel-title-wrap wow animate__animated animate__fadeInLeft"
    >
      <p class="about-hotel-pre-title">Amet minim mollit non</p>
      <p class="about-hotel-logo">MIMIHO</p>
    </div>
    <p class="about-hotel-top-text wow animate__animated animate__fadeInLeft">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="about-hotel-top-photo">
      <picture>
        <source
        srcset="
          ./img/homepage/hotel-1.avif    1x,
          ./img/homepage/hotel-1-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
        <source
        srcset="
          ./img/homepage/hotel-1.webp    1x,
          ./img/homepage/hotel-1-2x.webp 2x
        "
        tope="image/webp"
        media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/homepage/hotel-1.jpg    1x,
            ./img/homepage/hotel-1-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
        srcset="
          ./img/homepage/hotel-1-tab.avif    1x,
          ./img/homepage/hotel-1-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1024px)"
        />
        <source
        srcset="
          ./img/homepage/hotel-1-tab.webp    1x,
          ./img/homepage/hotel-1-tab-2webp 2x
        "
        type="image/webp"
        media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/homepage/hotel-1-tab.jpg    1x,
            ./img/homepage/hotel-1-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <source
        srcset="
          ./img/homepage/hotel-1-mob.avif    1x,
          ./img/homepage/hotel-1-mob-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1023px)"
        />
        <source
        srcset="
          ./img/homepage/hotel-1-mob.webp    1x,
          ./img/homepage/hotel-1-mob-2x.webp 2x
        "
        type="image/webp"
        media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./img/homepage/hotel-1-mob.jpg    1x,
            ./img/homepage/hotel-1-mob-2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />

        <img src="./img/homepage/hotel-1-mob.jpg" alt="corner for rest" />
      </picture>
    </div>
    <div class="about-hotel-bottom-wrap">
      <p class="about-hotel-bottom-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="about-hotel-bottom-photo">
        <picture>
          <source
        srcset="
          ./img/homepage/hotel-2.avif    1x,
          ./img/homepage/hotel-2-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
          <source
          srcset="
            ./img/homepage/hotel-2.webp    1x,
            ./img/homepage/hotel-2-2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/homepage/hotel-2.jpg    1x,
              ./img/homepage/hotel-2-2x.jpg 2x
            "
            media="(min-width: 1280px)" />

          <source
        srcset="
          ./img/homepage/hotel-2-tab.avif    1x,
          ./img/homepage/hotel-2-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1024px)"
        />
          <source
          srcset="
            ./img/homepage/hotel-2-tab.webp    1x,
            ./img/homepage/hotel-2-tab-2x.webp 2x
          "
          type="imag/webp"
          media="(min-width: 1024px)" />
          <source
          srcset="
            ./img/homepage/hotel-2-tab.jpg    1x,
            ./img/homepage/hotel-2-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)" />
          
          <source
        srcset="
          ./img/homepage/hotel-2-mob.avif    1x,
          ./img/homepage/hotel-2-mob-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1023px)"
        />
          <source
          srcset="
            ./img/homepage/hotel-2-mob.webp    1x,
            ./img/homepage/hotel-2-mob-2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)" />
          <source
            srcset="
              ./img/homepage/hotel-2-mob.jpg    1x,
              ./img/homepage/hotel-2-mob-2x.jpg 2x
            "
            media="(max-width: 1023px)" />

          <img src="./img/homepage/hotel-2-mob.jpg" alt="corner for rest"
        /></picture>
      </div>
    </div>
    <div dir="rtl" class="swiper swiper-about-left">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-about">
          <picture>
            <source
        srcset="
          ./img/homepage/hotel-3.avif    1x,
          ./img/homepage/hotel-3-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
            <source
              srcset="
                ./img/homepage/hotel-3.webp    1x,
                ./img/homepage/hotel-3-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./img/homepage/hotel-3.jpg    1x,
                ./img/homepage/hotel-3-2x.jpg 2x
              "
              media="(min-width: 1280px)" />
              
              <source
        srcset="
          ./img/homepage/hotel-3-tab.avif    1x,
          ./img/homepage/hotel-3-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
            <source
            srcset="
              ./img/homepage/hotel-3-tab.webp    1x,
              ./img/homepage/hotel-3-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px)" />
            <source
            srcset="
              ./img/homepage/hotel-3-tab.jpg    1x,
              ./img/homepage/hotel-3-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)" />

          <source
        srcset="
          ./img/homepage/hotel-3-mob.avif    1x,
          ./img/homepage/hotel-3-mob-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 320px)"
        />
            <source
            srcset="
              ./img/homepage/hotel-3-mob.webp    1x,
              ./img/homepage/hotel-3-mob-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)" />
            <source
              srcset="
                ./img/homepage/hotel-3-mob.jpg    1x,
                ./img/homepage/hotel-3-mob-2x.jpg 2x
              "
              media="(min-width: 320px)" />

            <img
              src="./img/homepage/hotel-3-mob.jpg"
              alt="reception"
              width="245px"
          /></picture>
        </div>
        <div class="swiper-slide swiper-slide-about">
          <picture>
            <source
        srcset="
          ./img/homepage/hotel-4.avif    1x,
          ./img/homepage/hotel-4-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
            <source
            srcset="
              ./img/homepage/hotel-4.webp    1x,
              ./img/homepage/hotel-4-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)" />
            <source
              srcset="
                ./img/homepage/hotel-4.jpg    1x,
                ./img/homepage/hotel-4-2x.jpg 2x
              "
              media="(min-width: 1280px)" />

              <source
        srcset="
          ./img/homepage/hotel-4-tab.avif    1x,
          ./img/homepage/hotel-4-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1024px)"
        />
              <source
              srcset="
                ./img/homepage/hotel-4-tab.webp    1x,
                ./img/homepage/hotel-4-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1024px)" />

            <source
              srcset="
                ./img/homepage/hotel-4-tab.jpg    1x,
                ./img/homepage/hotel-4-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)" />

              <source
        srcset="
          ./img/homepage/hotel-4-tab.avif    1x,
          ./img/homepage/hotel-4-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 320px)"
        />
             <source
              srcset="
                ./img/homepage/hotel-4-tab.webp    1x,
                ./img/homepage/hotel-4-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 320px)" /> 
            <source
            srcset="
              ./img/homepage/hotel-4-tab.jpg    1x,
              ./img/homepage/hotel-4-tab-2x.jpg 2x
            "
            media="(min-width: 320px)" />
            
            <img
              src="./img/homepage/hotel-4-tab.jpg"
              alt="towels"
              width="245px"
          /></picture>
        </div>
        <div class="swiper-slide swiper-slide-about">
          <picture>
            <source
        srcset="
          ./img/homepage/img-3.avif    1x,
          ./img/homepage/img-3-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1280px)"
        />
            <source
            srcset="
            ./img/slider/img-3.webp 1x, 
            ./img/slider/img-3-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
            <source
              srcset="
              ./img/slider/img-3.jpg 1x, 
              ./img/slider/img-3-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
             
            <source
        srcset="
          ./img/homepage/hotel-3-tab.avif    1x,
          ./img/homepage/hotel-3-tab-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 1024px)"
        />
            <source
              srcset="
                ./img/slider/img-3-tab.webp   1x,
                ./img/slider/img-3-tab-2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1024px)"
            />
            <source
            srcset="
              ./img/slider/img-3-tab.jpg    1x,
              ./img/slider/img-3-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
            />
     
            <source
        srcset="
          ./img/homepage/hotel-3-mob.avif    1x,
          ./img/homepage/hotel-3-mob-2x.avif 2x
        "
        tope="image/avif"
        media="(min-width: 320px)"
        />
            <source
            srcset="
              ./img/slider/img-3-mob.webp   1x,
              ./img/slider/img-3-mob-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:320px)"
            />       
            <source
              srcset="
                ./img/slider/img-3-mob.jpg    1x,
                ./img/slider/img-3-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img src="./img/slider/img-3.jpg" alt="about-3" width="245px" />
          </picture>
        </div>
      </div>
      <div class="swiper-about-left-button-wrrap">
        <div class="swiper-button-next swiper-about-left-button-next">
          <svg class="swiper-about-right-button-prev-icon">
            <use href="./public/favicon.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-prev swiper-about-left-button-prev">
          <svg class="swiper-about-right-button-next-icon">
            <use href="./public/favicon.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
