<address class="address-section">
  <div class="container">
    <h2 class="addres-title visually-hidden">Контакти</h2>
    <div class="contacts-address-wrap">
      <p class="contacts-logo">MIMIHO</p>
      <p class="contacts-post-logo">Ресторанно-готельний комплекс</p>
      <ul
        class="contacts-address-list wow animate__animated animate__fadeInLeft"
      >
        <li class="contacts-address-item">
          <p class="contacts-tel-text">Ресторан</p>
          <div class="contacts-address-block contacts-rest-block">
            <svg class="address-icon" width="24" height="24">
              <use href="./public/favicon.svg#icon-phone"></use>
            </svg>
            <a href="tel:0955559533" class="contacts-tel-link">095 555 95 33</a>
          </div>
        </li>
        <li class="contacts-address-item">
          <p class="contacts-tel-text">Готель</p>
          <div class="contacts-address-block contacts-block-width">
            <svg class="address-icon" width="24" height="24">
              <use href="./public/favicon.svg#icon-phone"></use>
            </svg>
            <a href="tel:0668491089" class="contacts-tel-link">066 849 10 89</a>

            <a href="tel:0672758540" class="contacts-tel-link">067 275 85 40</a>
          </div>
        </li>
        <li class="contacts-address-item">
          <a
            href="https://www.google.com.ua/maps/@49.5991975,34.5243576,17z?hl=ru"
            class="contacts-address-block contacts-block-width contacts-tablet-block-width"
          >
            <svg class="address-icon" width="24" height="24">
              <use href="./public/favicon.svg#icon-location"></use>
            </svg>
            <p class="contacts-address-text">
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="map-thumb">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d22284.51422617627!2d34.55072005328297!3d49.59009649934855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1suk!2sua!4v1676794952294!5m2!1suk!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</address>
