<section class="section-hotel-details background-hotel-details">
<div class="container relative-details">

    <p id="hotel-page" class="hotel-details-logo">MIMIHO</p>
    <h2 class="hotel-deteils-name">Готель</h2>

    <p class="hotel-details-p">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <div class="details-image-box">
        <picture>
            <source  srcset="./img/homepage/hotel-details-1.jpg 1x, ./img/homepage/hotel-details-1-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="./img/homepage/hotel-details-1-tab.jpg 1x, ./img/homepage/hotel-details-1-tab-2x.jpg 2x" media="(min-width:1024px)">
            <img src="./img/homepage/hotel-details-1.jpg" alt="hotel-details-1" class="hotel-details-image-first">
        </picture>
        <picture>
            <source  srcset="./img/homepage/hotel-details-2.jpg 1x, ./img/homepage/hotel-details-2-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="./img/homepage/hotel-details-2-tab.jpg 1x, ./img/homepage/hotel-details-2-tab-2x.jpg 2x" media="(min-width:1024px)">
            <source srcset="./img/homepage/hotel-details-2.jpg 1x, ./img/homepage/hotel-details-2-2x.jpg 2x" media="(min-width:320px)">
            <img src="./img/homepage/hotel-details-2.jpg" alt="hotel-details-2" class="hotel-details-image-second">
        </picture>
        <picture>
            <source  srcset="./img/homepage/hotel-details-3.jpg 1x, ./img/homepage/hotel-details-3-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="./img/homepage/hotel-details-3-tab.jpg 1x, ./img/homepage/hotel-details-3-tab-2x.jpg 2x" media="(min-width:1024px)">
            <source srcset="./img/homepage/hotel-details-3.jpg 1x, ./img/homepage/hotel-details-3-2x.jpg 2x" media="(min-width:320px)">
            <img src="./img/homepage/hotel-details-3.jpg" alt="hotel-details-3" class="hotel-details-image-third">
        </picture>
    </div>
    <div class="hotel-details-svg">
        <svg width="32px" height="32px" class="details-svg-arrows-first">
            <use href="./public/favicon.svg#icon-arrow-left" ></use>
        </svg>
        <svg width="32px" height="32px">  
            <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
    </div>
    <div class="hotel-details-btn-box">
        <button type="button" class="hotel-details-button-first">
            Забронювати номер
        </button>
        <a href="./hotel.html"  class="hotel-details-button-second">Переглянути ціни</a>
    </div>
</div>
</section>





















