<section class="section-hotel-details background-hotel">
<div class="container">
    <p class="p-logo-hotel">MIMIHO</p>
    <h2 class="h-hotel">Готель</h2>
    <p class="p-hotel-first">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <div class="image-box">
        <picture>
            <source  srcset="../../img/homepage/hotel-details-1.jpg 1x, ../../img/hotel-details-1-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="../../img/homepage/hotel-details-1-tab.jpg 1x, ../../img/homepage/hotel-details-1-tab-2x.jpg 2x" media="(min-width:1024px)">
            <img src="../../img/homepage/hotel-details-1.jpg" alt="hotel-details-1" class="image-hotel-first">
        </picture>
        <picture>
            <source  srcset="../../img/homepage/hotel-details-2.jpg 1x, ../../img/hotel-details-2-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="../../img/homepage/hotel-details-2-tab.jpg 1x, ../../img/homepage/hotel-details-2-tab-2x.jpg 2x" media="(min-width:1024px)">
            <source srcset="../../img/homepage/hotel-details-2.jpg 1x, ../../img/homepage/hotel-details-2-2x.jpg 2x" media="(min-width:320px)">
            <img src="../../img/homepage/hotel-details-2.jpg" alt="hotel-details-2" class="image-hotel-second">
        </picture>
        <picture>
            <source  srcset="../../img/homepage/hotel-details-3.jpg 1x, ../../img/hotel-details-3-2x.jpg 2x" media="(min-width:1280px)">
            <source  srcset="../../img/homepage/hotel-details-3-tab.jpg 1x, ../../img/homepage/hotel-details-3-tab-2x.jpg 2x" media="(min-width:1024px)">
            <source srcset="../../img/homepage/hotel-details-3.jpg 1x, ../../img/homepage/hotel-details-3-2x.jpg 2x" media="(min-width:320px)">
            <img src="../../img/homepage/hotel-details-3.jpg" alt="hotel-details-3" class="image-hotel-third">
        </picture>
    </div>
    <div class="svg-hotel">
        <svg width="32px" height="32px" class="svg-hotel-first">
            <use href="./public/favicon.svg#icon-arrow-left" ></use>
        </svg>
        <svg width="32px" height="32px">  
            <use href="./public/favicon.svg#icon-arrow-right"></use>
        </svg>
    </div>
    <div class="button-box-hotel">
        <button type="button" class="button-first">
            Забронювати номер
        </button>
        <button type="button" class="button-second">
            Переглянути ціни
        </button>
    </div>
</div>
</section>





















