<section class="main-hero">
  <div class="main-container">
    <h1 class="main-hero-title wow animate__animated animate__fadeInDown">MIMIHO</h1>
    <h2 class="main-hero-subheading wow animate__animated animate__zoomIn">Ресторанно-готельний комплекс</h2>
    <p class="main-hero-motto wow animate__animated animate__fadeInUp">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero-btn-list wow animate__animated animate__slideInRight">
      <li>
        <button type="button" class="hero-btn js-open-modal" data-modal="1">Забронювати столик</button>
      </li>
      <li><button type="button" class="hero-btn js-open-modal" data-modal="2">Забронювати номер</button></li>
    </ul>
    <div class="hero-location wow animate__animated animate__zoomIn">
      <svg width="20" height="20" class="hero-loc-icon">
        <use href="./public/favicon.svg#icon-location"></use>
      </svg>
      <a href="" class="hero-address">
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
    </div>
    <ul class="hero-soc-list wow animate__animated animate__slideInLeft">
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-list-item">
        <a href="">
          <svg class="hero-soc-icons" width="24" height="24">
            <use href="./public/favicon.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
