<section class="restaurant-details-section rd-background">
  <!-- /* --- TEXTS CONTENT --- */ -->
  <div class="container">
    <div class="rd-text-wrapper wow animate__animated animate__fadeInLeft">
      <a href="./index.html" target="_blank" class="rd-logo-link">Mimiho</a>
      <h2 class="rd-title">Ресторан</h2>
      <p class="rd-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="rd-flex-wrapper">
      <!-- /* ---- SLIDER ----- */ -->
      <div class="swiper swiper-details-right">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-details">
            <picture>
              <source
                srcset="
                  ./img/homepage/rest-details-1.webp    1x,
                  ./img/homepage/rest-details-1-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-1.jpg    1x,
                  ./img/homepage/rest-details-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./img/homepage/rest-details-1-tab.webp    1x,
                  ./img/homepage/rest-details-1-tab-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-1-tab.jpg    1x,
                  ./img/homepage/rest-details-1-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <source
                srcset="
                  ./img/homepage/rest-details-1-mob.webp    1x,
                  ./img/homepage/rest-details-1-mob-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-1-mob.jpg    1x,
                  ./img/homepage/rest-details-1-mob-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="rd-slider-img"
                src="./img/homepage/rest-details-1.jpg"
                alt="steak"
                width="274"
                height="270"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-details">
            <picture>
              <source
                srcset="
                  ./img/homepage/rest-details-2.webp    1x,
                  ./img/homepage/rest-details-2-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-2.jpg    1x,
                  ./img/homepage/rest-details-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./img/homepage/rest-details-2-tab.webp    1x,
                  ./img/homepage/rest-details-2-tab-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-2-tab.jpg    1x,
                  ./img/homepage/rest-details-2-tab-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="rd-slider-img"
                src="./img/homepage/rest-details-2.jpg"
                alt="shashlyk"
                width="162"
                height="270"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-details">
            <picture>
              <source
                srcset="
                  ./img/homepage/rest-details-3.webp    1x,
                  ./img/homepage/rest-details-3-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-3.jpg    1x,
                  ./img/homepage/rest-details-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./img/homepage/rest-details-3-tab.webp    1x,
                  ./img/homepage/rest-details-3-tab-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-3-tab.jpg    1x,
                  ./img/homepage/rest-details-3-tab-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />

              <img
                class="rd-slider-img"
                src="./img/homepage/rest-details-3.jpg"
                alt="meze"
                width="274"
                height="270"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-details">
            <picture>
              <source
                srcset="
                  ./img/homepage/rest-details-3.webp    1x,
                  ./img/homepage/rest-details-3-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 414px)"
              />
              <source
                srcset="
                  ./img/homepage/rest-details-3.jpg    1x,
                  ./img/homepage/rest-details-3-2x.jpg 2x
                "
                media="(min-width: 414px)"
              />
              <img
                class="rd-slider-img"
                src="./img/homepage/rest-details-3.jpg"
                alt="meze"
                width="274"
                height="270"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-details-right-button-wrrap">
          <div class="swiper-button-prev swiper-details-right-button-prev">
            <svg class="swiper-details-right-button-prev-icon">
              <use href="./public/favicon.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-details-right-button-next">
            <svg class="swiper-details-right-button-next-icon">
              <use href="./public/favicon.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <!-- /* ACTIVITY BUTTONS: MODAL & REST.MENU */ -->

      <div class="rd-activity-buttons-wrapper">
        <button
          type="button"
          class="rd-activity-button js-open-modal"
          data-modal="1"
        >
          Забронювати столик
        </button>
        <a href="./restaurant.html" target="_blank" class="rd-activity-link"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
